.result-image-id{
	display: block;
	min-width: 50px;
	background-color: aliceblue;
}
.wrap-option{
	display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
}
.btn-option {
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 0 0 5px;
    padding: 0;
    border: 1px solid #ddd;
    color: #333;
    line-height: 30px;
    float: left;
    background-color: rgba(255,255,255,0.6);
}
.btn-option:hover{
	color: #f44141;
	border-color: #f44141;
	cursor: pointer;
}
.wrap-element{
    display: inline;
    padding: 0;
    line-height: 0;
    float: left;
    position: relative;
    margin-bottom: 10px;
}
.wrap-element:first-child{
    padding-top: 0;
}
.wrap-gallery{
	display: inline-block;
    width: calc(100% - 20px);
    min-height: 50px;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 50px;
    box-sizing: border-box;
}
.wrap-gallery .wrap-input{
    display: inline-block;
    width: 100%;
    position: relative;
}
.wrap-gallery .wrap-input .wrap-element:last-child{
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 10px;
}
.wrap-element .media{
	padding: 0;
	margin: 0;
	display: block;
	width: 100%;
	float: left;
    border: 1px solid #ddd;
    border-radius: 0;
    box-sizing: border-box;
}
.wrap-element .media img{
	display: inline-block;
	width: 100%;
}
#delete_all_gallery{
    margin-left: 10px;
}
.wrap-input .title-page{
    margin: 0 0 10px 0;
    color: #333;
    font-size: 15px;
    text-transform: capitalize;
}
.wrap-input .title-page::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 1px;
    top: 18px;
    left: 0px;
    background-color: #ddd;
}
#kute_delete_all_gallery_110,
#kute_add_gallery_110{
    border-radius: 0;
    padding: 2px 15px;
    height: auto;
    box-shadow: none;
    text-shadow: none;
    margin: 10px 10px 10px 0;
    outline: none !important;
}
#kute_add_gallery_110{
    border-color: transparent;
}
#kute_delete_all_gallery_110:hover,
#kute_add_gallery_110:hover{
    background-color: #666666;
    color: #fff;
    border-color: #666666;
}
